.sectionThree a {
    color: #333333;
    text-decoration: underline;
    float: right;
    margin-top: 3em;
    font-size: 1.8em
}

.sectionThree h3 {
    display: inline;
}

.sectionThree h5 {
    margin-top: 1em;
}

.artOne {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin-bottom: 3em;
}

.artOne img {
    width: 100%;
    float: none;
    margin: 5em 0 0 0;
}

.artOne h4 {
    margin: 0;
}

.artOne p {
    font-size: 2vw;
}