@media screen and (min-width:1200px) {

    .sectionTwo a {
        color: #333333;
        text-decoration: underline;
        float: right;
        margin-top: 3em;
        font-size: 1.8em;
    }
    
    .sectionTwo h3 {
        display: inline;
        margin-bottom: 1em;
    }
    
    .sectionTwo h5 {
        margin-top: 1em;
    }
    
    .sectionTwo {
        margin-top: 5em;
    }
    
    .sectionTwo p {
        font-weight: 600;
        font-style: italic;
    }
    
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 1em;
        margin-bottom: 3em;
    }
    
    .gallery img {
        width: 100%;
        margin: 0;
    }
}


/* ---------------------------------------------------------------- */
@media screen and (max-width:1200px) {

    .sectionTwo a {
        color: #333333;
        text-decoration: underline;
        float: right;
        margin-top: 1em;
        font-size: 1.8em;
    }
    
    .sectionTwo h3 {
        display: inline;
        margin-bottom: 1em;
    }
    
    .sectionTwo h5 {
        margin-top: 1em;
        font-size: 2.5vw;
    }
    
    .sectionTwo {
        margin-top: 5em;
    }
    
    .sectionTwo p {
        font-weight: 600;
        font-style: italic;
    }
    
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0.2em;
        margin-bottom: 3em;
    }
    
    .gallery img {
        width: 100%;
        margin: 0;
    }
}


/* ---------------------------------------------------------------- */

@media screen and (max-width:800px) {

    .sectionTwo a {
        color: #333333;
        text-decoration: underline;
        float: right;
        margin-top: 0.5em;
        font-size: 1.8em;
    }
    
    .sectionTwo h3 {
        display: inline;
        margin-bottom: 1em;
    }
    
    .sectionTwo h5 {
        margin-top: 1em;
    }
    
    .sectionTwo {
        margin-top: 5em;
    }
    
    .sectionTwo p {
        font-weight: 600;
        font-style: italic;
    }
    
    .gallery {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5em;
        margin-bottom: 3em;
    }
    
    .gallery img {
        width: 100%;
        margin: 0;
    }
}