@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto+Condensed&display=swap');

@media screen and (min-width:1200px) {
    main {
        padding: 0 5em;
    }
    header {
    background-color: #333333;
    padding: 0 5em 0 5em;
}

h1 {
    font-size: 7vw;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    margin: 0;
}

h2 {
    font-size: 5vw;
    font-family: 'Oswald', sans-serif;
    display: inline;
    font-weight: 300;
    color: #6699cc;
}

img {
    float: left;
    width: 20vw;
    margin: 1em 5em 0 2em;
}

ul {
    margin: 3em 5em 0 0;
    padding-bottom: 1em;
    text-align: right;
}

li {
    display: inline;
    margin: 0 1.5em 0 0;
}

a {
    color: #cccccc;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.3vw;
}
}

/* ---------------------------------------------------------------- */
@media screen and (max-width:1200px) {

    main {
        padding: 0 0.5em;
    }
    header {
        background-color: #333333;
        padding: 0 1em 0 1em;
    }
    
    h1 {
        font-size: 8vw;
        font-family: 'Oswald', sans-serif;
        color: #fff;
        margin: 0;
    }
    
    h2 {
        font-size: 5.7vw;
        font-family: 'Oswald', sans-serif;
        display: inline;
        font-weight: 300;
        color: #6699cc;
        margin-bottom: 10em;
    }
    
    img {
        float: left;
        width: 20vw;
        margin: 1em 5em 0 0;
    }
    
    ul {
        margin: 2em 5em 0 0;
        padding: 0 0 1em 1em;
        text-align: left;
    }
    
    li {
        display: inline;
        margin: 0 1.5em 0 0;
    }
    
    a {
        color: #cccccc;
        text-decoration: none;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.5vw;
    }
}


/* ---------------------------------------------------------------- */

@media screen and (max-width:800px) {


    main {
        padding: 0 0.5em;
    }
    
    header {
        background-color: #333333;
        padding: 1em 1em 0 1em;
    }
    
    h1 {
        font-size: 8vw;
        font-family: 'Oswald', sans-serif;
        color: #fff;
        margin: 0;
    }
    
    h2 {
        font-size: 5vw;
        font-family: 'Oswald', sans-serif;
        display: inline;
        font-weight: 300;
        color: #6699cc;
    }
    
    img {
        float: left;
        width: 20vw;
        margin: 1em 3em 0 0;
    }
    
    ul {
        margin: 3em 5em 0 0;
        padding-bottom: 1em;
        text-align: left;
    }
    
    li {
        display: block;
        margin: 1.5em 0 0 0;
    }
    
    a {
        color: #cccccc;
        text-decoration: none;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 2.5vw;
    }
}