.formSection h3 {
    display: inline;
}

.formSection a {
    color: #333333;
    text-decoration: underline;
    float: right;
    margin-top: 3em;
    font-size: 1.8em
}

.formSection h5 {
    margin-top: 1em;
}

.formGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.formGrid img {
    width: 100%;
    margin: 0;
}






form input, textarea {
    width: 100%;
    margin-bottom: 0.5em;
    font-size: 3em;
    border: solid 3px #cccccc;
}

::placeholder {
    font-size: 0.7em;
    padding: 0 0 0 0.5em;
    color: #cccccc;
}

textarea {
    resize: none;
    height: 20vw;
}

.butOne {
    /* width: 100%; */
    background-color: #6699cc;
    border: solid 0px;
    font-size: 1.5em;
    color: #cccccc;
}

.butTwo {
    /* margin-right: 0.5em; */
    background-color: #0066cc;
    border: solid 0px;
    padding: 0.7em;
    font-size: 1.5em;
    color: #cccccc;
}

button:hover {
    cursor: pointer;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    /* font-size: 2em; */
}